.carousel
  &__wrapper
    position: relative
    display: flex
    align-items: center
    width: 100vw
    height: 100vh
    overflow: hidden

  &__carousel
    width: 100%
    height: 100%
    position: fixed

  &__item
    width: 100vw
    height: 100vh

  &__button
    position: fixed
    z-index: 11

    &_left
      left: 10px

    &_right
      right: 10px

  &__iframe,
  &__video
    width: 100vw
    height: 100vh

  &__image
    width: 100%
    height: 100%

.slick-slide
  opacity: 1 !important

  &.slick-active
    z-index: 1111 !important
